/* Button Components Module */
.btnSecondary {
  border-color: var(--btn-secondary) !important;
  color: var(--btn-secondary) !important;
  font-weight: 550 !important;
}

.btnSecondary:hover {
  border-color: var(--btn-secondary-hover);
  color: var(--btn-secondary-hover);
  background-color: rgba(32, 98, 172, 0.05);
}

.btnPrimary {
  background: var(--btn-secondary) !important;
  border-color: var(--btn-secondary) !important;
  color: white !important;
  font-weight: 550 !important;
  flex-shrink: 0;
}

.btnPrimary:hover:not(:disabled) {
  opacity: 0.9 !important;
}

.btnPrimary:disabled {
  background: var(--btn-secondary) !important;
  border-color: var(--btn-secondary) !important;
  color: white !important;
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

.btnCancel {
  border: none !important;
  background: transparent !important;
  color: var(--btn-secondary) !important;
  /* padding: 0.5rem 1.5rem; */
  height: auto;
  font-weight: 550 !important;
  transition: all 0.2s ease;
}
